administrator/cache/*
administrator/components/*
administrator/help/*
administrator/includes/*
administrator/language/*
administrator/logs/*
administrator/manifests/*
administrator/modules/*
administrator/templates/*
!administrator/components/com_compname

bin/*
cache/*
cli/*
components/*
images/*
includes/*
language/*
layouts/*
libraries/*
media/*
modules/*
plugins/*
templates/*
tmp/*

!components/com_compname

configuration.php
htaccess.txt
index.php
LICENSE.txt
README.txt
robots.txt
web.config.txt
